*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(207, 154, 154),rgb(66, 66, 103));
}
.todo-app{

    background-color: rgb(130, 108, 128);
    border-radius: 20px;
    width: 40rem;
    min-height: 15rem;
   
}
.mat{
    margin-top: 1rem;
    margin-left: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
img{
    height: 10%;
    width: 5%;
}
.row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(55, 67, 78);
    padding-left: 0.5rem;
    height: 3rem;
    border-radius: 50px;
    margin-top: 1rem;
}
#inptAr{
    flex: 1;/* to take complete width of row*/
    outline: none;
    border: none;
    background: transparent;
    font-size: 1rem;
}
button{
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
    height: 3rem;
    width: 5rem;
    color: rgb(55, 69, 69);
    /* background-color: aliceblue; */
    border: none;
    outline: none;
    border-radius: 50px;
}

ul li{
    margin-top: 0.5rem;
    margin-left: 3rem;
    user-select: none;
    line-height: 2rem;
    list-style: none;
    font-size: 1rem;
    padding: 0.1rem;
    position: relative;
}
ul li::before{
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 1.5rem;
    width: 1.5rem;
    left: -2rem;
    top: 0.3rem;
    background-color: antiquewhite;
    background-image: url(uncheck.png); 
    background-size: cover;
    background-position: center;
}
ul li.checked{
    color: rgb(102, 71, 71);
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(check.png);
}
ul li span{
    border-radius: 50%;
    text-align: center;
    height: 2rem;
    width: 2rem;
    color: rgb(49, 67, 61);
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
ul li span:hover{
    opacity: 0.4;
    background-color: rgb(37, 37, 65);
}

.btn:hover{
    border: 0.2rem solid rgb(55, 69, 69);
}